<mat-card *ngIf="trails != undefined">
    <mat-card-title>{{trails[trailIndex].name}}</mat-card-title>
    <mat-card-subtitle>{{trails[trailIndex].stars}}/5 by {{trails[trailIndex].starVotes}} people</mat-card-subtitle>
    <div class="big-pic-container"><img class="big-pic" mat-card-image [src]="trails[trailIndex].imgMedium" /></div>
    <div class="summary"> {{ trails[trailIndex].summary }} </div>
    <div class="content">
        <div class="left">
            <mat-card-subtitle>Difficulty: {{turnToWords(trails[trailIndex].difficulty)}}</mat-card-subtitle>
            <mat-checkbox (change)="completedFunc(user, trails[trailIndex])" [checked]="completed">Completed
            </mat-checkbox>
            <mat-checkbox (change)="interestedFunc(user, trails[trailIndex])" [checked]="interested">Interested
            </mat-checkbox>
        </div>
        <div class="right">
            <mat-card-subtitle class="weather-title">Next 6 Days Forecast</mat-card-subtitle>
            <div class="weather">
                <mat-card-subtitle class="day" *ngFor="let day of weatherData">
                    <div class="day-content">
                        <img mat-card-image class="weather-icon" [src]="'http://openweathermap.org/img/w/' + day.icon + '.png'" />
                        <span>{{day.description}}</span>
                    </div>
                </mat-card-subtitle>
            </div>
        </div>
    </div>
  <div class="ratings" *ngIf="completed">
    <textarea class="user-comments" placeholder="How was your hike?" type="text" [(ngModel)]="comment"> {{ comment }}
    </textarea>
    <div class="wrapper">
      <div class="star-score">
        <span *ngIf="stars >=1" >
          <img src="../../assets/icons/baseline-star-24px.svg" (click)="rateTrail(1)">
        </span>
        <span *ngIf="stars >=2" >
          <img src="../../assets/icons/baseline-star-24px.svg" (click)="rateTrail(2)">
        </span>
        <span *ngIf="stars >=3" >
          <img src="../../assets/icons/baseline-star-24px.svg" (click)="rateTrail(3)">
        </span>
        <span *ngIf="stars >=4" >
          <img src="../../assets/icons/baseline-star-24px.svg" (click)="rateTrail(4)">
        </span>
        <span *ngIf="stars ==5" >
          <img src="../../assets/icons/baseline-star-24px.svg" (click)="rateTrail(5)">
        </span>
        <span *ngIf="stars ==0" >
          <img src="../../assets/icons/baseline-star_border-24px.svg" (click)="rateTrail(1)">
        </span>
        <span *ngIf="stars <=1" >
          <img src="../../assets/icons/baseline-star_border-24px.svg" (click)="rateTrail(2)">
        </span>
        <span *ngIf="stars <=2" >
          <img src="../../assets/icons/baseline-star_border-24px.svg" (click)="rateTrail(3)">
        </span>
        <span *ngIf="stars <=3" >
          <img src="../../assets/icons/baseline-star_border-24px.svg" (click)="rateTrail(4)">
        </span>
        <span *ngIf="stars <=4" >
          <img src="../../assets/icons/baseline-star_border-24px.svg" (click)="rateTrail(5)">
        </span>
      </div>
      <button mat-raised-button
              (click)="saveComment(user, trails[trailIndex]); saveStars(user, trails[trailIndex])">Save
        Comment and Rating</button>
    </div>
  </div>
</mat-card>
