mat-card {
    margin: 1em;
}

mat-checkbox {
    margin-right: 1em;
}

.big-pic {
    width: 70%;
    margin: 2em auto;
}

.summary {
  margin-bottom: 2em;
}

.weather-icon {
    width: 5em;
}

.weather {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    justify-content: center;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4em;
}

.weather-title {
    text-align:center;
}

.left {
    width: 100%;
}

.right {
    width: 100%;
}

.content {
    display: flex;
}
