<mat-card>

  <mat-card-title>{{currentUser.displayName}}</mat-card-title>

    <mat-card-header>Completed Trails:</mat-card-header>
  <div class="completed" *ngFor="let completedTrail of completedTrails$">
    <span routerLink="/trail-info">
      {{ completedTrail.name }}
    </span>
  </div>
  <mat-card-header>Interested Trails:</mat-card-header>
  <div class="interested" *ngFor="let interestedTrail of interestedTrails$">
    <span routerLink="/trail-info">
      {{ interestedTrail.name }}
    </span>
  </div>
</mat-card>
