<mat-card>
  <mat-card-content>
    <mat-form-field >
      <input matInput placeholder="Zip Code" [(ngModel)]="zipCode">
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="getTrails()">Search
      Trails</button>
  </mat-card-content>
  <mat-card-content *ngIf="zipCode != undefined">
    <div fxLayout="row wrap" fxLayoutGap="30px">
      <div class="trail-detail-card" *ngFor="let trail of trailsList">
          <a href="">
            <div class="img-container">
              <img class='center' src="{{ trail.imgSmallMed }}">
            </div>
            <div class="card-text">
              <div class="title-row ">
                <span class="wrapper">
                  <img class="difficulty" [src]="'https://cdn.apstatic.com/img/diff/' + trail.difficulty + '.svg'">
                  <strong class="trail-name">{{ trail.name }}</strong>
                </span>
                <div class="length">{{ trail.length }} mi</div>
              </div>
              <div class="sub-row">
                <span class="star-score">
                  <span *ngIf="trail.stars >=1"><img src="../../assets/icons/baseline-star-24px.svg"></span>
                  <span *ngIf="trail.stars >=2"><img src="../../assets/icons/baseline-star-24px.svg"></span>
                  <span *ngIf="trail.stars >=3"><img src="../../assets/icons/baseline-star-24px.svg"></span>
                  <span *ngIf="trail.stars >=4"><img src="../../assets/icons/baseline-star-24px.svg"></span>
                  <span *ngIf="trail.stars >=5"><img src="../../assets/icons/baseline-star-24px.svg"></span>
                  <span *ngIf="trail.stars %1!=0"><img src="../../assets/icons/baseline-star_half-24px.svg"></span>
                  <span *ngIf="trail.stars ==0"><img src="../../assets/icons/baseline-star_border-24px.svg"></span>
                  <span *ngIf="trail.stars <=1"><img src="../../assets/icons/baseline-star_border-24px.svg"></span>
                  <span *ngIf="trail.stars <=2"><img src="../../assets/icons/baseline-star_border-24px.svg"></span>
                  <span *ngIf="trail.stars <=3"><img src="../../assets/icons/baseline-star_border-24px.svg"></span>
                  <span *ngIf="trail.stars <=4"><img src="../../assets/icons/baseline-star_border-24px.svg"></span>
                  <span class="votes"> {{ trail.starVotes }}</span>
                </span>

                <span class="location">{{ trail.location }}</span>
              </div>
            </div>
          </a>
        </div>
      </div>
  </mat-card-content>
</mat-card>


